* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: lightgray;
}

header {
  background-color: white;
  font-weight: bold;
}

header p {
  display:inline-block;
  font-size:xx-large;
  /* color: red; */
}
